* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Red Hat Text', sans-serif;
}

.should-flip {
	transform: rotateY(180deg) scaleX(-1);
}

.should-not-flip {
	transform: rotateY(0deg);
}
